.list {
    display: flex;
    /*width: 100vw;*/
    width: 100%;
    /*margin-top: 35px;
    align-items: center;
    align-content: center;
    justify-content: center;*/
    display: flex;
    align-items: flex-start;

    

}

.listContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /*width: 50%;
    height: 50%;*/
    /*border-color: rgb(147, 156, 156);*/
    background-color: var(--primaryColor);
}

.containeruser {
    display: flex;
    flex-direction: column;
    width: 50%;
    /*border-color: rgb(147, 156, 156);*/
    background-color: var(--primaryColor);
    border-radius: 16px;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.userinfo{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userinfo > h2 {
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 1px;
}

.userinfo > div {
    margin: 0.5rem;
}

.useredit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.selectDiv{
    margin-bottom: 1rem;

}
.inputDiv{
    border-radius: 0.5rem;
}
/*.input{
 background-color: black;
 color: white;   
 border-color: white;
 border-radius: 0.5rem;
 height: 2rem;

}
.input:hover{
    transition: 0.4s;
    background-color: gray;
    color: rgb(104, 0, 0);
    border-color: rgb(104, 0, 0);
    border-radius: 0.5rem;
}*/

.input {
  height: 2rem;
  width: 10rem;
  color: rgb(10, 10, 10);
  background-color: rgb(96, 239, 24) !important;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border: 3px solid rgb(33, 101, 249);

  letter-spacing: 1px;

  margin-top: 1rem;
}

.red {
    font-weight: 700;
    letter-spacing: 1px;
    color: red;
}

.green {
    font-weight: 700;
    letter-spacing: 1px;
    color: green;
}

.header {
    width: 100%;
    margin-bottom: 1rem;
}

.goBack {
  color: var(--fontColor);
  background-color: transparent;
  border: none;

  font-size: var(--fontSubTitle);
  font-weight: 700;
  letter-spacing: 1px;

  cursor: pointer;

  text-align: left;
}

.goBack:hover {
  color: #7451F8;
}

.promote {
    background-color: rgb(36, 140, 244) !important;
    font-size: 0.7rem;
    font-weight: bold;
    border: 3px solid rgb(208, 35, 35) !important;
}